---
layout: layouts/base.njk
title: About Me
permalink: /about/
---

<style>
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    
}

h1, h3 {
    color: #ffffff;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2em;
    margin: 20px 0;
    padding: 15px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

p {
    margin: 10px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
img {
  height: 60px; 
  margin: 10px; 
}
</style>

<div class="container">
    <h1><img src="/images/logo2.png" alt="Logo">About Me<img src="/images/logo3.png" alt="Logo3"></h1>
    <h3>
        My Name is Terry Sagas and video games are my passion. Video games allow me to escape the real world and explore a world of imagination. 
        They have changed my life for the better and for the worse (sometimes), through games I met new friends and get 
        closer to family. On my free time I play video games, mainly Nintendo games, like replaying a Zelda game or playing a new game just released.
        Other games I play are card games like Marvel Snap, a fast-paced card battler I can play on my phone and computer. A game that I played for a very
        long time is Destiny 2; I love that game. At the moment I am not playing, but I will find myself back into the game at some point. Without games, I may
        be a smarter person or someone who’s better at school, but I wouldn’t be as happy, know the people I do, and be as fun as I am today. 
        Possibly in the future, I want to get into game development. Video games are my passion, and here is just a small website showing what games/game consoles I own.
    </h3>
</div>
