---
layout: layouts/base.njk
title: My Games
permalink: /mygames{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/
pagination:
  data: collections.games
  size: 8
  alias: game
---

<h1>My Games</h1>

<div id="game-container" class="grid-container">
  {% for game in pagination.items %}
    <div class="card">
      <img src="/gameicons/{{ game.coverImage }}" alt="{{ game.title }}" class="card-image">
      <h2>{{ game.title }}</h2>
      <p>{{ game.description }}</p>
      <p><strong>Year:</strong> {{ game.year }}</p>
      <p><strong>Publisher:</strong> {{ game.publisher }}</p>
      <p><strong>Console:</strong> {{ game.console }}</p>
    </div>
  {% endfor %}
</div>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 20px;
        padding: 20px;
    }

    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        text-align: center;
        transition: transform 0.3s;
    }

    .card:hover {
        transform: translateY(-10px);
    }

    .card-image {
        max-width: 100px;
        height: auto;
        margin-bottom: 10px;
    }

    .card h2 {
        font-size: 1.2em;
        margin: 10px 0;
    }

    .card p {
        font-size: 0.9em;
        color: #666;
    }
</style>

<!-- Pagination Controls -->
<div class="pagination">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Previous</a>
  {% endif %}

  
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Next</a>
  {% endif %}
</div>